main
  margin-top: 20px
  position: relative
  height: calc( 100vh - 70px)
  .timer
    position: absolute
    width: 100%
    text-align: center
    top: 0px
    z-index: 1000
    .trajan.true
      font-size: 3rem
  .img-container
    padding-top: 20px
    position: relative
    img
      height: 650px
      width: auto
      cursor: zoom-in
      &.true
        height: 850px
        cursor: zoom-out
    // .timing-container
    //   position: absolute
    //   top: 0
    //   bottom: 0
    //   right: 0
    //   left: 0
    //
    //   .timing
    //     position: absolute
    //     display: flex
    //     flex-direction: column
    //     justify-content: center
    //     align-items: center
    //     text-transform: uppercase
    //     font-weight: bold
    //     .time
    //       margin-top: -7px
    //       font-size: 16px
    //     &.hard-1
    //       top: 215px
    //       left: 212px
    //     &.hard-2
    //       top: 215px
    //       left: 212px
    //     &.hard-3
    //       top: 215px
    //       left: 212px
    //     &.hard-4
    //       top: 215px
    //       left: 212px
    //     &.hard-5
    //       top: 215px
    //       left: 212px
    //     &.hard-6
    //       top: 215px
    //       left: 212px
    //
    //     &.medium-1
    //       top: 200px
    //       left: 300px
    //     &.medium-2
    //       top: 215px
    //       left: 212px
    //     &.medium-3
    //       top: 215px
    //       left: 212px
    //     &.medium-4
    //       top: 215px
    //       left: 212px
    //     &.medium-5
    //       top: 215px
    //       left: 212px
    //     &.medium-6
    //       top: 215px
    //       left: 212px
    //
    //     &.small-1
    //       top: 145px
    //       left: 270px
    //     &.small-2
    //       top: 490px
    //       left: 485px
    //
    //     &.ancient-1
    //       top: 355px
    //       left: 260px
    //     &.ancient-2
    //       top: 400px
    //       left: 365px
    //     &.ancient-3
    //       top: 265px
    //       left: 330px
    //     &.ancient-4
    //       top: 375px
    //       left: 510px

  .timer-wrapper
    position: relative
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: center
    // .timer-controllers
    //   position: absolute
    //   left: 150px
    //   button
    //     margin: 0 10px
    .buttons-wrapper
      display: flex
      justify-content: center
      align-items: center
      button:first-child
        margin-right: 20px
