main {
  margin-top: 20px;
  height: 2000px;
  position: relative; }
  main .timer {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    z-index: 1000; }
    main .timer .trajan.true {
      font-size: 3rem; }
  main .img-container {
    padding-top: 20px;
    position: relative; }
    main .img-container img {
      height: 650px;
      width: auto;
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }
      main .img-container img.true {
        height: 850px;
        cursor: -webkit-zoom-out;
        cursor: zoom-out; }
  main .timer-wrapper {
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .timer-wrapper .buttons-wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      main .timer-wrapper .buttons-wrapper button:first-child {
        margin-right: 20px; }
