main {
  margin-top: 20px;
  height: 2000px;
  position: relative; }
  main .timer {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    z-index: 1000; }
    main .timer .trajan.true {
      font-size: 3rem; }
  main .img-container {
    padding-top: 20px;
    position: relative; }
    main .img-container img {
      height: 650px;
      width: auto;
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }
      main .img-container img.true {
        height: 850px;
        cursor: -webkit-zoom-out;
        cursor: zoom-out; }
    main .img-container .timing-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
      main .img-container .timing-container .timing {
        position: absolute;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold; }
        main .img-container .timing-container .timing .time {
          margin-top: -7px;
          font-size: 16px; }
        main .img-container .timing-container .timing.hard-1 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.hard-2 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.hard-3 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.hard-4 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.hard-5 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.hard-6 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.medium-1 {
          top: 200px;
          left: 300px; }
        main .img-container .timing-container .timing.medium-2 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.medium-3 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.medium-4 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.medium-5 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.medium-6 {
          top: 215px;
          left: 212px; }
        main .img-container .timing-container .timing.small-1 {
          top: 145px;
          left: 270px; }
        main .img-container .timing-container .timing.small-2 {
          top: 490px;
          left: 485px; }
        main .img-container .timing-container .timing.ancient-1 {
          top: 355px;
          left: 260px; }
        main .img-container .timing-container .timing.ancient-2 {
          top: 400px;
          left: 365px; }
        main .img-container .timing-container .timing.ancient-3 {
          top: 265px;
          left: 330px; }
        main .img-container .timing-container .timing.ancient-4 {
          top: 375px;
          left: 510px; }
  main .timer-wrapper {
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .timer-wrapper .buttons-wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      main .timer-wrapper .buttons-wrapper button:first-child {
        margin-right: 20px; }
