main
  margin-top: 20px
  height: 2000px
  position: relative
  .timer
    position: absolute
    width: 100%
    text-align: center
    top: 0px
    .trajan.true
      font-size: 3rem
  .img-container
    padding-top: 20px
    img
      height: 650px
      width: auto
      cursor: zoom-in
      &.true
        height: 850px
        cursor: zoom-out

  .timer-wrapper
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: center
    .buttons-wrapper
      display: flex
      justify-content: center
      align-items: center
      button:first-child
        margin-right: 20px
